@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  color:#107e06
}
h1{
  text-align: center;
  font-family:'Franklin Gothic Medium';
  font-weight: 400;
  font-size: 10rem;
}
p{
  font-family:'Franklin Gothic Medium';
}
/* styles.css */
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.cloud {
  position: absolute;
  top: 0;
  left: -50%;
  width: 125%;
  height: 115%;
  background-image: url('/images/cloud.png');
  background-size: cover;
  background-position: center;
  transform: translateX(-100%); /* Start off-screen */
  transition: transform 0.5s linear; /* Smooth transition */
}